<div class="row">
  <div class="four columns centered user">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <div class="forms">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>

          <div>
            <%= f.label :email, :class => "forms" %>
            <%= f.email_field :email %>
          </div>
          <br />
          <div>
            <%= f.label :password, :class => "forms" %> 
            <i>(leave blank if you don't want to change it)</i>
            <br />
            <%= f.password_field :password, :autocomplete => "off" %>
          </div>
          <br />
          <div>
            <%= f.label :password_confirmation, :class => "forms" %>
            <%= f.password_field :password_confirmation %>
          </div>
          <br />
          <div>
            <%= f.label :current_password, :class => "forms" %> 
            <i>(we need your current password to confirm your changes)</i>
            <%= f.password_field :current_password %>
          </div>
          <br />
          <div>
          <%= f.submit "Update", :class => "radius button" %></div>
          
      <% end %>
      <p>Unhappy? <%= link_to "Cancel account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "user" %>.</p>
    </div>
  </div>
</div>

