<div class="row">
  <div class="four columns centered user">
    <h2>Sign up</h2>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email, :class => "forms" %>
        <%= f.email_field :email %></div>
        <br />
        <div><%= f.label :password, :class => "forms" %>
        <%= f.password_field :password %></div>
        <br />
        <div><%= f.label :password_confirmation, :class => "forms" %>
        <%= f.password_field :password_confirmation %></div>
        <br />
        <div><%= f.submit "Sign up", :class => "radius button" %></div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>





