<%= form_for(@url) do |f| %>

  <% if @url.errors.any? %>
    <%= render 'error' %>
  <% end %>

  <div class="row">
    <%= f.text_field :original_url, :placeholder => "Paste original link", :class => "span7" %>
    <%= f.text_field :short_url, :placeholder => "Customize shortened url?" , :class => "span3"%>
    <%= f.submit "Beer me", :class => "btn btn-large btn-danger" %>
  </div>
<% end %>