<div class="row">
  <div class="ten columns centered">
    <h1 id="index_header">
      <span class="example_urls">
        <%= link_to image_tag("logo_large.png", id: "logo_large", alt: "hpstr.ly, a hipster url shortener"), '/' %>
        <span class="fadingText">/
          <span class="content"> helvetica_leggings_PBR    </span>
          <span class="content"> ironic_vintage_cardigan   </span>
          <span class="content"> bespoke_fixie_steinbeck     </span>
          <span class="content"> selvage_tofu_mustache     </span>
          <span class="content"> diy_biodiesel_gastropub </span>
        </span>
      </span>
    </h1>
  </div>
</div>

<h3 class="centered" id="below_header">an analog url shortener</h3>

<%= render 'form' %>

<h3 class="centered" id="links">your links</h3>

<table class="twelve responsive">
  <thead>
    <tr>
      <th class="head">URL</th>
      <th class="head">Shortened URL</th>
      <th class="head">Page Views</th>
    </tr>
  </thead>
  <tbody>
    <% @urls && @urls.each do |url| %>
      <tr>
        <td class="data"><%= link_to "hpstr.ly/#{url.short_url}", url.short_url, :target => "_blank" %></td>
        <td class="data"><%= url.original_url %></td>
        <td class="data"><%= url.page_views %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="footer">
  Crafted by <a href="https://twitter.com/jeffpersonified">@jeffpersonified</a> – <a href="https://github.com/jeffpersonified/hpstrly">Fork it.</a>
</div>






