<h1> 
<%= link_to image_tag("logo_large.png", id: "logo_large", alt: "hpstr.ly"), '/' %>
   / helvetica _ leggings _ PBR </h1>

<h3>an analog url shortener</h3>

  <%= render 'form' %>

  <table class="url_table table-striped">
      <tr>
        <th>URL</th>
        <th>Shortened URL</th>
        <th>Page Views</th>
      </tr>

      <% @urls && @urls.each do |url| %>

        <tr>
          <td><%= url.original_url %></td>
          <td><%= link_to url.short_url, url.short_url, :target => "_blank" %></td>
          <td><%= url.page_views %></td>
        </tr>
      <% end %>
  </table>

