<h2>Sign in</h2>

<div class="forms">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email, :class => "forms" %>
  <%= f.email_field :email %></div>
  <br />
  <div><%= f.label :password, :class => "forms" %>
  <%= f.password_field :password %></div>
  <br />
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %><%= f.label :remember_me, :class => "forms", :id => "remember_txt" %>
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn btn-large btn-danger btn-margin"  %></div>
<% end %>
</div>

<%= render "devise/shared/links" %>
