<!DOCTYPE html>
<html>
  <head>
    <title>hpstr.ly</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container-narrow">

    <ul id="navbar">
      <%= link_to image_tag("logo_small.png", id: "nav_logo", alt: "hpstr.ly"), '/' %>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>


    <div><% if flash[:error] %>
      <h4><%= flash[:error] %></h4>
    <% end %></div>


    <%= yield %>

    </div>
  </body>
</html>
